:root {
  --color-primary: tomato;
  --color-error: darkred;
  --brand-color: var(--color-primary);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}

a {
  color: black;

  &:hover {
    color: var(--color-primary);
  }
}
